<!--
     This is the login page. which extends base_visitor.html. in this the input areas for the username and password and
     and the submit button is created.
-->

<!-- this is used to extend the base_visitor.html -->
{% extends 'SweetShop/base_visitor.html' %}

{% block title %}Log In{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Log In</h3>
                    <!--
                         the if statement below is ran if the variable error_message is passed in the context
                         if it is, an error message is printed.
                    -->
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'SweetShop:login_user'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- below is the div used to store the details for the username section-->
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_username">
                                Username:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_username" maxlength="30" name="username" type="text">
                            </div>
                        </div>
                        <!-- below is the div used to store the details for the password section-->
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_password">
                                Password:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_password" maxlength="30" name="password" type="password">
                            </div>
                        </div>
                        <!--
                            below is the div used to store the details for the submit section which when pressed
                            sends the form.
                        -->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--
                    the div below is used to allow users to redirect themself to the register page if they do not
                    have a currently existing account.
                -->
                <div class="panel-footer">
                    Don't have an account? <a href="{% url 'SweetShop:register' %}">Click here</a> to register.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

